RewriteEngine On

# Принудительное использование HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Удаление www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Удаление index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^index\.php$ / [R=301,L]


# Удаление расширения .php (убедитесь, что это правило стоит перед другими)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)\.php$ /$1 [L]

# Обработка 404 ошибки
ErrorDocument 404 /404.php